* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto';
  }
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  header {
    display: flex;
    margin: 10px;
    justify-content: space-between;
  }
  h1 {
    font-size: 1.5rem;
  }
  .settings-save {
    float: right;
    padding-top: 1.2rem;
  }
  .theme_picker{
    font-size: 1.5rem;
  }
  .counter__value {
    width: 100%;
    height: 15rem;
    text-align: center;
    font-size: 6rem;
    font-weight: 900;
  }
  .counter__actions {
    display: flex;
  }
  .counter__button {
    color: #4c4e53;
    width: 50%;
    height: 10rem;
    padding-left: 3rem;
    padding-top: 3rem;
    border-width: 0;
    columns: #4c4e53;
    font-size: 3rem;
    border-bottom: 1px solid #4c4e53;
    transition: transform 0.3s;
    transform: translateY(0);
  }
  .counter__button:active {
    background: #424250;
    transform: translateY(2%);
  }
  .counter__button:disabled {
    opacity: 0.2;
  }
  .reset_actions {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #4c4e53;
  }
  .reset_button {
    padding: 1rem;
  }
  